<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="usertext">Username</label>
        <input type="text" name="username" id="usertext">
        <label for="passtext">Password</label>
        <input type="text" name="password" id="passtext">
        <input type="submit" value="Login" id="">
    </form>
    {% if messages %}
        {% for message in messages %} 
           {{message}}
        {% endfor %}
    {% endif %}
</body>
</html>