<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
</head>

    <style>
        .container-fluid a{
            text-decoration: none;
	font-family: Cambria, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.6em;
	color: #3e99ac;
        }
        .container-fluid{
	list-style-type: none;
	padding: 60;
	text-align: center;
	margin-top: 0px;
  color: ;
}
.container-fluid li {
	display: inline;
  margin: 1ch;

}

    </style>
<body>
</html><nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" c>
                        <a class="nav-link active" href="#" style="color:#FFFFFF" >Home</a>
                    </li>
                    <li class="nav-item" c>
                            <a class="nav-link active" href="#" style="color:#FFFFFF" >Daily Progress</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" style="color:#FFFFFF">Workouts</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" href="#" style="color:#ffffff">Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" style="color:#FFFFFF">Profile</a>
                                  </li>
                        </div>
                      
                    

                      <li class="nav-item">
                        <a class="nav-link active" href="#" style="color:#FFFFFF">Logout</a>
                      </li>
                      
                  </ul>
            

    
        </div>
    </div>

  </div>
</nav>
</body>